--find-links  https://download.pytorch.org/whl/torch_stable.html 
--find-links  https://download.openmmlab.com/mmcv/dist/cu102/torch1.10.0/index.html
streamlit==1.10.0
Pillow==8.4.0
icedata
icevision[all]
torch==1.11.0+cu102
torchvision==0.11.1+cu102
numpy
mmcv-full==1.3.17
mmdet==2.17.0
setuptools==59.5.0

