--find-links  https://download.pytorch.org/whl/torch_stable.html 
--find-links  https://download.openmmlab.com/mmcv/dist/cu102/torch1.10.0/index.html
streamlit
Pillow
icevision[all]==0.12.0
torch==1.10.0+cu102
torchvision==0.11.1+cu102
numpy
setuptools==59.5.0
mmcv-full==1.3.17
mmdet==2.17.0
